@keyframes robotLight {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes robotCircleRotate {
	from {
		transform: rotate(10deg) translateY(0px);
	}

	to {
		transform: rotate(-95deg)  translateY(90px);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}

	 to {
	 	opacity: 1;
	 	transform: translateX(0px);
	 }
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	 to {
	 	opacity: 1;
	 	transform: translateX(0px);
	 }
}


.animInit {
	opacity: 0;
}

.fadeInLeft {
	animation-name: fadeInLeft;
	animation-fill-mode: forwards;
    animation-duration: 2s;
}

.fadeInRight {
	animation-name: fadeInRight;
	animation-fill-mode: forwards;
    animation-duration: 2s;
}