.footer {
	&__wrapper {
		padding-top: 72px;
		border-top: 3px solid var(--color-green);
	}

	&__logo {
		text-align: left;

		.logo__caption {
			font-size: 30px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 36px;
	}

	&__contactsLink {
		display: block;
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 10px;
		color: inherit;
	}

	&__socialWrapper {
		display: flex;
	}

	&__socialLink {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		margin-right: 30px;
		background-color: var(--color-purple);
		border-radius: 10px;

		img {
			width: 60%;
		}
	}

	&__pay {
		&Item {
			max-width: 132px;
			text-align: center;
			margin-bottom: 30px;
			margin-left: auto;
		}
	}

	&__foot {
		padding: 50px 0;
	}

	&__text {
		color: var(--color-grey);
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		&__pay {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 40px;

			&Item {
				margin-left: 0;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.footer {
		&__wrapper {
			padding-top: 36px;
		}
		
		&__contacts {
			text-align: right;
		}

		&__social {
			text-align: center;
		}

		&__socialWrapper {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 576px) {
	.footer {
		&__logo {
			text-align: center;
		}

		&__title {
			margin-bottom: 16px;
		}

		&__contacts {
			margin: 20px 0;
			text-align: center;
		}

		&__foot {
			text-align: center;
			padding: 20px 0;
		}

		&__text {
			display: block;
		}

		&__text {
			&--policy {
				margin-top: 30px;
			}
		}
	}
}