.header {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 26px 0;
		position: relative;
		z-index: 10;
	}
}

@media screen and (max-width: 1440px) {
	.header {
		&__wrapper {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.header {
		&__wrapper {
			flex-wrap: wrap;
		}

		&__nav {
			order: 1;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		&__wrapper {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 480px) {
	.header {

		&__user {
			// width: 100%;
			margin: 0 30px;
		}
	}
}