.interpretation {
	max-width: 900px;
	margin-left: auto;
	text-align: center;

	&__title {
		display: inline-block;
		padding: 12px 20px;
		font-weight: 600;
		font-size: 22px;
		line-height: 29px;
		border-radius: 10px;
		border: 2px solid var(--color-green);
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 84px;
		position: relative;
		z-index: 1;

		&::after {
			content: '';
			width: 80%;
			height: 9px;
			background-color: var(--color-green);
			position: absolute;
			left: 10%;
			top: 67px;
			transform: translateY(-50%);
			z-index: -1;
		}
	}

	&__item {
		&--unpaid {
			.interpretation__img {
				background-color: var(--color-red);
			}
		}

		&--process {
			.interpretation__img {
				background-color: var(--color-yellow);
			}
		}

		&--receive {
			.interpretation__img {
				background-color: var(--color-green);
			}
		}

	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 126px;
		height: 126px;
		margin: 0 auto;
		border-radius: 50%;
	}

	&__text {
		margin-top: 18px;
		font-weight: 600;
		font-size: 22px;
		line-height: 29px;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 1200px) {
	.interpretation {
		&__title {
			font-size: 18px;
			line-height: 24px;
		}

		&__list {
			margin-top: 40px;
			display: block;

			&::after {
				width: 9px;
				height: 90%;
				left: 50%;
				top: 0px;
				transform: translateX(-50%);
			}
		}

		&__item {
			margin-bottom: 40px;
		}

		&__text {
			background-color: var(--color-white);
			font-size: 18px;
			line-height: 24px;
		}
	}
}

@media screen and (max-width: 768px) {
	.interpretation {
		margin-top: 60px;

		&__title {
			font-size: 17px;
			line-height: 20px;
		}
	}
}