.nav {
	padding-top: 20px;

	&--main {
		.nav__link {
			font-size: 25px;
			line-height: 34px;
		}
	}
	
	&__link {
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		margin: 0 80px;
		color: var(--color-blue);
	}
}

@media screen and (max-width: 1400px) {
	.nav {
		&--main {
			.nav__link {
				font-size: 20px;
				line-height: 25px;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-top: 20px;

		&__link {
			margin: 0;
		}
	}
}