:root {
	--color-green: #15C45B;
	--color-green-light: #E7FFF1; 
	--color-purple: #9D1CCC;
	--color-blue: #1B0044;
	--color-black: #121212;
	--color-grey: #969191;
	--color-white: #fff;
	--color-red: #F33030;
	--color-yellow: #EFF330;
	--color-grey-light: #F6F6F6;
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/