.navigation {
	max-width: 320px;

	&__item {
		display: flex;
		position: relative;
		padding-left: 76px;
		margin-bottom: 10px;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 4px;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 992px) {
	.navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 80%;
		margin: 0 auto 20px;

		&__item {
			min-width: 180px;
			margin: 0 20px 20px;
		}
	}
}