.intro {
	padding-top: 82px;
	color: var(--color-blue);

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&__info {
		position: relative;
		z-index: 10;
	}

	&__parallax {
		content: '';
		display: block;
		width: 235px;
		height: 200px;
		background: no-repeat center / contain;
		position: absolute;
		z-index: -1;
	}

	&__beforeElement {
		background-image: url(../img/intro-before.svg);
		top: -80px;
		left: -200px;
	}

	&__afterElement {
		background-image: url(../img/intro-after.svg);
		bottom: 0;
		right: 40px;
	}

	&__text {
		margin-top: 50px;
		max-width: 564px;
	}

	&__btn {
		margin-top: 46px;
		font-size: 25px;
	}
}

@media screen and (max-width: 1200px) {
	.intro {
		&__wrapper {
			justify-content: center;
		}

		&__info {
			text-align: center;
		}

		&__text {
			margin: 20px auto;
		}

		&__afterElement {
			right: -160px;
			bottom: -40px;
		}
	}
}

@media screen and (max-width: 992px) {
	.intro {
		&__btn {
			margin-top: 30px;
			font-size: 22px;
			line-height: 24px;
		}
	}
}

@media screen and (max-width: 768px) {
	.intro {
		padding-top: 40px;

		&__parallax {
			display: none;
		}
	}	
}